<h1>Nova Escola</h1>
<%= form_with model: @school, url: admin_schools_path, local: true do |f| %>
  <p><%= f.label :name %><br><%= f.text_field :name %></p>
  <p><%= f.label :cnpj %><br><%= f.text_field :cnpj %></p>
  <p><%= f.label :address %><br><%= f.text_field :address %></p>
  <p><%= f.label :phone%><br><%= f.text_field :phone%></p>
  <p><%= f.label :logo %><br><%= f.text_field :logo %></p>
  <p><%= f.submit 'Criar Escola' %></p>
<% end %>
<%= link_to "Sair", destroy_user_session_path, method: :delete %>
