<h1>Novo Usuário estudante</h1>
<%= form_with model: @user, url: direction_students_path do |f| %>
<p><%= f.label :email %><br><%= f.text_field :email %>
<p>
<p><%= f.label :password %><br><%= f.password_field :password %>
<p>

<p><%= f.label :school_id %><br>
<p>
  <%= f.select :school_id, School.all.collect { |s| [s.name, s.id] } %>

<p><%= f.label :guardian_name %><br><%= f.text_field :guardian_name %>
<p>

<p><%= f.label :birth_date %><br><%= f.date_field :birth_date %>
<p>

  <%= f.submit "Criar aluno" %>
  <% end %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>